.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease;
    /* height: 300px;
    width: 400px; */
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .book-name {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.2rem;
  }
  
  .author {
    margin: 0;
    font-size: 1rem;
    color: #666666;
  }
  